.label {
    position: relative;
    display: block;
  }
  
  .label + input {
    margin: 0 0 2rem 0;
  }
  
  /* updated styles */

  .label.field-empty .err-message {
    position: absolute;
    background: #FAB9B9;
    top: 43px;
    left: 0;
    color: #001f39;
    padding: 0.3125rem 0.625rem;
    font-weight: 300;
    font-style: italic;
    letter-spacing: normal;
    text-align: center;
    pointer-events: none;
    transition: all .45s ease;
  }
  
  .label.field-empty .err-message:before{
    content: "";
    position: absolute;
    background: #FAB9B9;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;
    left: 6px;
    position: absolute;
    transform: rotate(-45deg);
    transition: all .45s ease;
  }
  
  .label.field-empty + input {
    border: 1px solid #de5757;
  }
  
  .name.field-empty .err-message:after {
    content: "Please enter your Name";
  }
  
  .email.field-empty .err-message:after {
    content: "Please enter your Email";
  }
  
  .password.field-empty .err-message:after {
    content: "Please enter your Password";
  }
  
  .number-of-guests.field-empty .err-message:after {
    content: "Please enter your Number of guests";
  } 
  
  .tel.field-empty .err-message:after {
    content: "Please enter your Contact number";
  } 